body {
    color: #000807;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

.container-stuff{
    text-align: center;
}

.home {
    background-color: #f1a6b2;
}

.portfolio {
    background-color: #EF7674;
}

.about {
    background-color: #EC5766;;
}

.contact {
    background-color: #f71e42; 
}

.underline {
    text-decoration: underline;
}

.navbar {
    opacity: 95%;
    background-color: #DDFFF7;
}

.nav-link {
    color: #f71e42;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
    color: #93E1D8;
}

.navbar-brand {
    font-family: 'Rock Salt', cursive;
    color: #f71e42;
    font-size: 30px;
}

.navbar-brand:hover {
    color: #f71e42;
}
